body {
    background-color: #f5f5f5;
}

.card {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.nav-tabs .nav-link.active {
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.navbar-text {
    color: #fff;
}
